app-layout
  app-section
    app-container
      app-title{ level: 2, label: "Заголовок 1" }

  app-section{ background: "light-gray" }
    app-container
      app-title{ level: 2, label: "Заголовок 2" }

  app-section
    app-container
      app-title{ level: 2, label: "Заголовок 3" }

  app-section{ background: "light-gray" }
    app-container
      app-title{ level: 2, label: "Заголовок 4" }

  app-section
    app-container
      app-title{ level: 2, label: "Заголовок 5" }