* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 15px;
  line-height: 1.4em;
  letter-spacing: 0.05em;
  text-indent: 1em;
  text-align: justify;
}
